<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="fallyGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="fallyGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="fallyGrab.Properties.Settings.Api" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <fallyGrab.Properties.Settings>
      <setting name="saveLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="imageFormat" serializeAs="String">
        <value>JPG</value>
      </setting>
      <setting name="keyShortcut" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="uploadFlag" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ftpServer" serializeAs="String">
        <value />
      </setting>
      <setting name="ftpUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="ftpPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ftpFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ftpPublic" serializeAs="String">
        <value />
      </setting>
      <setting name="uploadType" serializeAs="String">
        <value>none</value>
      </setting>
      <setting name="dropboxRoot" serializeAs="String">
        <value />
      </setting>
      <setting name="dropboxUser" serializeAs="String">
        <value />
      </setting>
      <setting name="shortenUrls" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="keyShortcut2" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="fbToken" serializeAs="String">
        <value />
      </setting>
      <setting name="quality" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="defaction" serializeAs="String">
        <value>Open save location</value>
      </setting>
      <setting name="history" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="hformwidth" serializeAs="String">
        <value>934</value>
      </setting>
      <setting name="hsplitterdistance" serializeAs="String">
        <value>355</value>
      </setting>
      <setting name="hcol1size" serializeAs="String">
        <value>140</value>
      </setting>
      <setting name="hcol2size" serializeAs="String">
        <value>123</value>
      </setting>
      <setting name="hcol3size" serializeAs="String">
        <value>85</value>
      </setting>
      <setting name="hformheight" serializeAs="String">
        <value>471</value>
      </setting>
      <setting name="hformx" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="hformy" serializeAs="String">
        <value>0</value>
      </setting>
    </fallyGrab.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <fallyGrab.Properties.Settings>
      <setting name="api_facebook" serializeAs="String">
        <value />
      </setting>
      <setting name="api_googl" serializeAs="String">
        <value />
      </setting>
      <setting name="api_imgur_clientid" serializeAs="String">
        <value />
      </setting>
      <setting name="api_imgur_secret" serializeAs="String">
        <value />
      </setting>
    </fallyGrab.Properties.Settings>
    <fallyGrab.Properties.Settings.Api>
      <setting name="api_facebook" serializeAs="String">
        <value></value>
      </setting>
      <setting name="api_googl" serializeAs="String">
        <value></value>
      </setting>
      <setting name="api_imgur_clientid" serializeAs="String">
        <value></value>
      </setting>
      <setting name="api_imgur_secret" serializeAs="String">
        <value></value>
      </setting>
    </fallyGrab.Properties.Settings.Api>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>
</configuration>