<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="fallyGrab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fallyGrab.api" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <fallyGrab.Properties.Settings>
            <setting name="saveLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="imageFormat" serializeAs="String">
                <value>JPG</value>
            </setting>
            <setting name="keyShortcut" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="uploadFlag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ftpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ftpPublic" serializeAs="String">
                <value />
            </setting>
            <setting name="uploadType" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="dropboxRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="dropboxUser" serializeAs="String">
                <value />
            </setting>
            <setting name="shortenUrls" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="startup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="keyShortcut2" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="is_regkey" serializeAs="String">
                <value />
            </setting>
            <setting name="is_public" serializeAs="String">
                <value>yes</value>
            </setting>
            <setting name="fbToken" serializeAs="String">
                <value />
            </setting>
            <setting name="quality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="defaction" serializeAs="String">
                <value>Open save location</value>
            </setting>
            <setting name="history" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hformwidth" serializeAs="String">
                <value>934</value>
            </setting>
            <setting name="hsplitterdistance" serializeAs="String">
                <value>355</value>
            </setting>
            <setting name="hcol1size" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="hcol2size" serializeAs="String">
                <value>123</value>
            </setting>
            <setting name="hcol3size" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="hformheight" serializeAs="String">
                <value>471</value>
            </setting>
            <setting name="hformx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hformy" serializeAs="String">
                <value>0</value>
            </setting>
        </fallyGrab.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <fallyGrab.api>
            <setting name="googl" serializeAs="String">
                <value></value>
            </setting>
            <setting name="facebook" serializeAs="String">
                <value></value>
            </setting>
            <setting name="imageshack" serializeAs="String">
                <value></value>
            </setting>
        </fallyGrab.api>
    </applicationSettings>
</configuration>
